.popular-container
  h3.head-title 精選漁貨
  ul.popular-panel
    each article in popularArticles
      li.popular-item
        a.btn-azure-hover(href="/articles/#{category}/#{article.id}")
          .thumbnail
            .wrapper-shadow
              a(href="/articles/#{category}/#{article.id}").fa.fa-link
            if article.image
              img(src="#{article.image}", alt="")
            else
              img(src="#{noPhoto}", alt="")
        




          h6.title
            a(href="/articles/#{category}/#{article.id}")= article.title
          span.label(class="label-#{article.category.name}")= article.category.zh
          span.item-date
            i.fa.fa-calendar
            = article.time.toLocaleDateString()