extends layout

block content
  
  #header
    img#header-bg(src="#{headerImage}", alt="")
    .container
      .row
        .caption
          h1 那些石沈大海的單字，
          h1 你還記得多少？
        #header-btn
          a(href="/users/new").btn.btn-azure-outline.btn-lg.btn-slim 成為漁夫
          a(href="/articles/random").btn.btn-default-outline.btn-lg.btn-slim 願者上鉤

  
  .container
    .row
      .left-section
        .entry-list
          h2.title 本日頭條
          #timeline

            if articles.length > 0
              each article in articles
                .item
                  .thumbnail
                    .wrapper-shadow
                      a(href="/articles/#{article.category.name}/#{article.id}").fa.fa-link.fa-2x
                    if article.image
                      img.capture(src="#{article.image}", alt="capture")
                    else
                      img.capture(src="#{noPhoto}", alt="capture")
                  h4.title
                    a(href="/articles/#{article.category.name}/#{article.id}")= article.title
                  p.tag
                    span.label(class="label-#{article.category.name}")= article.category.zh
                  p.caption
                    a(href="/articles/#{article.category.name}/#{article.id}")= article.caption
            
            else
              .no-content 今天暫時沒有新鮮貨呦！

      .right-section
