extends ../layout

block content

  #article-container
    .row
      h1= category
    .row
      .main-col
        ul#timeline

          each article in articles
            li.item 
              .thumbnail
                .wrapper-shadow
                  a(href="/articles/#{category}/#{article.id}").fa.fa-link
                img.capture(src="#{noPhoto}", alt="capture")
              .detail
                h3.item-title
                  a(href="/articles/#{category}/#{article.id}")
                    = article.title
                span.item-date
                  i.fa.fa-calendar
                  = article.time
                span.item-author
                  i.fa.fa-user
                  = article.author
                span.item-tags
                  i.fa.fa-tags

                .content
                  = article.caption
                  | ...
                .user-btn.pull-right
                  span.item-level
                    i.fa.fa-trophy
                    = article.level
                  span.item-length
                    i.fa.fa-book
                    = article.length
                  a(href="#").btn.btn-link
                    i.fa.fa-comment-o
                    | 讀後心得
                  a(href="/articles/#{category}/#{article.id}").btn.btn-link
                    | 閱讀更多
                    i.fa.fa-angle-double-right
      .side-col
        include ../partials/popularbar