extends ../layout

append head
  link(rel="stylesheet", href="/stylesheets/users/new.css")

block content

    .register
      form(method="POST", action="./")
        .form-group
          label(for="#email") 信箱: 
          input.form-control#email(type="email",
                                   name="email",
                                   placeholder="XXX@XYZ.com")

        .form-group
          label(for="#username") 使用者姓名: 
          input.form-control#username(type="text",
                                      name="username",
                                      placeholder="請輸入至少 4 位以上含有英文,數字之名字")

        .form-group
          label(for="#password") 密碼:
          input.form-control#password(type="password",
                                      name="password",
                                      placeholder="至少輸入 6 碼")


        button.btn.btn-azure(type="submit") 註冊
        button.btn.btn-default(type="submit") 取消